.cal {
	color: #4A5782;
}
div.calendar {
	position: relative;
}
.calendar, .calendar table {
	background: #EEEEFF none repeat scroll 0%;
	border: 1px solid #555566;
	color: #000000;
	cursor: default;
	font-family: tahoma,verdana,sans-serif;
	font-size: 11px;
}
.calendar .button {
	padding: 2px;
	text-align: center;
}
.calendar .nav {
	background: #777788 url(/web/css/menuarrow.gif) no-repeat scroll 100%;
}
.calendar thead .title {
	background: #FFFFFF none repeat scroll 0%;
	color: #000000;
	font-weight: bold;
	padding: 2px;
	text-align: center;
}
.calendar thead .headrow {
	background: #777788 none repeat scroll 0%;
	color: #FFFFFF;
}
.calendar thead .daynames {
	background: #BBDDFF none repeat scroll 0%;
}
.calendar thead .name {
	border-bottom: 1px solid #555566;
	color: #000000;
	padding: 2px;
	text-align: center;
}
.calendar thead .weekend {
	color: #AA6666;
}
.calendar thead .hilite {
	background-color: #AAAAFF;
	border: 1px solid #0044FF;
	color: #000000;
	padding: 1px;
}
.calendar thead .active {
	background-color: #7777CC;
	padding: 2px 0px 0px 2px;
}
.calendar tbody .day {
	color: #445566;
	padding: 2px 4px 2px 2px;
	text-align: right;
	width: 2em;
}
.calendar tbody .day.othermonth {
	color: #BBBBBB;
	font-size: 80%;
}
.calendar tbody .day.othermonth.oweekend {
	color: #FFBBBB;
}
.calendar table .wn {
	background: #BBDDFF none repeat scroll 0%;
	border-right: 1px solid #000000;
	padding: 2px 3px 2px 2px;
}
.calendar tbody .rowhilite td {
	background: #DDEEFF none repeat scroll 0%;
}
.calendar tbody .rowhilite td.wn {
	background: #EEEEFF none repeat scroll 0%;
}
.calendar tbody td.hilite {
	background: #DDEEFF none repeat scroll 0%;
	border: 1px solid #BBBBBB;
	padding: 1px 3px 1px 1px;
}
.calendar tbody td.active {
	background: #CCDDEE none repeat scroll 0%;
	padding: 2px 2px 0px;
}
.calendar tbody td.selected {
	background: #FFFFFF none repeat scroll 0%;
	border: 1px solid #000000;
	color: #000000;
	font-weight: bold;
	padding: 1px 3px 1px 1px;
}
.calendar tbody td.weekend {
	color: #AA6666;
}
.calendar tbody td.today {
	color: #0000FF;
	font-weight: bold;
}
.calendar tbody .disabled {
	color: #999999;
}
.calendar tbody .emptycell {
	visibility: hidden;
}
.calendar tbody .emptyrow {
	display: none;
}
.calendar tfoot .footrow {
	background: #555566 none repeat scroll 0%;
	color: #FFFFFF;
	text-align: center;
}
.calendar tfoot .ttip {
	background: #FFFFFF none repeat scroll 0%;
	border-top: 1px solid #555566;
	color: #444455;
	padding: 1px;
}
.calendar tfoot .hilite {
	background: #AAAAFF none repeat scroll 0%;
	border: 1px solid #0044FF;
	color: #000000;
	padding: 1px;
}
.calendar tfoot .active {
	background: #7777CC none repeat scroll 0%;
	padding: 2px 0px 0px 2px;
}
.calendar .combo {
	background: #DDEEFF none repeat scroll 0%;
	border: 1px solid #665555;
	color: #000000;
	cursor: default;
	display: none;
	font-size: 90%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 4em;
	z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
	padding: 1px;
	text-align: center;
}
.calendar .combo .label-IEfix {
	width: 4em;
}
.calendar .combo .hilite {
	background: #AACCFF none repeat scroll 0%;
}
.calendar .combo .active {
	background: #EEEEFF none repeat scroll 0%;
	border-bottom: 1px solid #4466AA;
	border-top: 1px solid #4466AA;
	font-weight: bold;
}
.calendar td.time {
	background-color: #F4F0E8;
	border-top: 1px solid #000000;
	padding: 1px 0px;
	text-align: center;
}
.tab-icon {
	margin: 5px;
}
.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
	background-color: #FFFFFF;
	border: 1px solid #888899;
	font-weight: bold;
	padding: 0px 3px 0px 4px;
}
.calendar td.time .ampm {
	text-align: center;
}
.calendar td.time .colon {
	font-weight: bold;
	padding: 0px 2px 0px 3px;
}
.calendar td.time span.hilite {
	background-color: #666677;
	border-color: #000000;
	color: #FFFFFF;
}
