/*.yui-skin-sam .yui-navset .yui-content #dashBoardBlock{
	background-color: white;
	}*/
.refresh{
padding-right:1px;
padding-left: 1px;
}
#gmanH{
text-decoration: none;
text-align: middle;
vertical-align: middle;
width: 20px;
}

div#gmanDiv{
margin: 0;
padding: 0;
align: left;

}
div.buttonText{
padding-left: 5px;
margin-left: 5px;
margin-top: 3px;
}
.plus{
/*margin-bottom: 1px;*/
margin-top: 3px;
float:left;
overflow: hidden;
}

img
{  border-style: none;
}
a.gelem{

/*float: right;*/
padding-left:20px;
/*margin: 6px;*/
}
div.workarea {
	padding: 5px;
	float: left
}

ul.draglist {
	position: relative;
	/*width: 250px;*/
	list-style: none;
	margin: 0;
	padding: 0;
}
li.list {
	/*background-color: #FFFFFF;*/
/*	padding-bottom: 5px;*/
	margin-top: 10px overflow : hidden;
	margin: 5px;
	margin-bottom: 10px;
}
/* Change the Colour here to change the background colour
.RoundHelp{
	background-color: black
	}
body{
	background-color: black;
	}
	*/
div.upper {
	background-color: /*#333333;*/#000000;
	background: url(../images/bgTop.gif) ;
	border-left: 1px solid /*#000000;*/#7EA6B2;
	border-right: 1px solid /*#000000;*/#7EA6B2;
	border-bottom: 1px solid #7EA6B2;
/*	height: 20px;*/
	cursor: move;
	overflow: hidden;
}

div.RH1{
overflow: hidden;
background:#7EA6B2 none repeat scroll 0 50%;
margin: 0 4px;
height: 1px;
border-style:solid;
border-width:0;
display:block;
font-size:1px;
line-height:1px;
}
div.RH2{
background:#F0F0FF none repeat scroll 0 50%;
border-color:#7EA6B2;
border-width:0 2px;
margin:0 2px;
border-style:solid;
display:block;
font-size:1px;
height:1px;
line-height:1px;

}

div.RH3{
background:#F0F0FF  none repeat scroll 0 50%;
border-color:#7EA6B2;
border-width:0 1px;
margin:0 1px;
border-style:solid;
display:block;
font-size:1px;
height:1px;
line-height:1px;
}

div.lower {
	border: 1px solid /*#000000;*/#7EA6B2;
	max-height:301px;
	/*height: 300px;*/
overflow:auto;

/*	overflow:hidden;*/

}

div.min {
	
/*	height: 20px;*/
	float: right;
	overflow: hidden;
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 2px;
}

div.max {
	height: 20px;
	float: right;
	overflow: hidden;
	/*visibility: hidden;*/
	padding-top: 3px;
	padding-right: 2px;
	padding-left: 2px;
}
.yui-skin-sam .RMenu .yui-button button{
	margin: 0;
	padding: 0;
	background-image: none;
	padding-right: 0;
	background: transparent;
	border-style: none;
	min-height: 0;
}
.yui-skin-sam .RMenu .yui-button a{
	min-height: 0;
	}
.yui-skin-sam .RMenu .yui-button{
	margin: 0;
	padding: 0;
	background-image: none;
	padding-right: 0;
	background: transparent;
	border-style: none;
	border: none;	
	min-height: none;
}

.yui-skin-sam .RMenu .yui-button
.first-child{
	margin: 0;
	padding: 0;
	border-style: none;
	border: none;	
}

div.refreshb{
float:right;
padding-top: 2px;
padding-right: 1px;
padding-left: 1px;
}

div.RMenu{
float:right;
margin:0;
padding-top: 3px;
padding-right: 0px;
}
.first-of-type
{
background-color: #D4E6FC;
border: 1px solid #224499;
}

.yuimenuitemlabel
{
border: none;
padding: 2px;
color: black;
padding-left: 6px;
padding-right: 6px;
text-decoration: none;
font-family: arial;
}

.yuimenu li{
background-color: #D4E6FC;
}
.yuimenu li:hover{
background-color: #224499;
}

a{
	border: none;
}
.yuimenuitemlabel:hover
{/*
border: none;                   	
padding: 2px;
padding-left: 6px;
padding-right: 6px;*/
color: white;
/*text-decoration: none;
font-weight: bold;
font-family: arial;*/
}
div.refresh{
float:right;
padding-top: 1px;
margin-top: 1px;
}
div.cls {
	height: 20px;
	float: right;
	padding-top: 3px;
	padding-left:2px;
	padding-right: 4px;
	overflow: hidden;
}

div.uptxt {
	float: left;
	padding-left: 5px;
	font-weight: bold;
	
}

div#uptxt0_1{
width: 1200px;
}
