/* CSS Document */

/*
 * Author: 
 * Version: $Id: TBits.css,v 1.29 2006/04/05 16:55:56 vinit Exp $
 */

/* 
 * html element styles
 */
body
{
    /*background: #;*/
    margin: 0ex;
}

BODY.dialog
{
    padding: 15px;
    vertical-align: middle;
    background-color: #E6F4FD;
}
body, td, input, textarea, select
{
    font-family: tahoma, arial, verdana, trebuchet ms, sans-serif;
}

SELECT
{
    vertical-align: middle;
}

form
{
    margin: 0;
    width: 100%;
}

img
{
    border: 0;
}

a
{
    text-decoration: none;
}

a:visited
{
    color: #000000;
}

/* 
 * class styles
 */

/* bold */
.b
{
    font-weight: bold;
	color: #000000;
	
}

/* underline */
.u
{
    text-decoration: underline;
}
.u:hover
{
    text-decoration: underline;
}
.u:visited
{
    text-decoration: underline;
}

/* word wrap */
.ww
{
    word-wrap: break-word;
}

/* small-font */
.s
{
    font-size: 70%;
}

/* xs-small-font */
.xs
{
    font-size: 80%;
}

/* small-xtra-font */
.sx
{
    font-size: 80%;
}

/* xsx-small-font */
.sxs
{
    font-size: 87%;
}

/* small-format-font */
.sf
{
    font-size: 75%;
}

/* xtra-large */
.xl
{
    font-size: larger;
}

/* format-font */
.ff
{
    font-family: courier new;
}

/* font-verdana */
.fv
{
    font-family: verdana;
}

/* align left */
.al
{
    text-align: left;
}

/* align right */
.ar
{
    text-align: right;
}

/* align center */
.ac
{
    text-align: center;
}

/* align top */
.at
{
    vertical-align: top;
}

/* align middle */
.am
{
    vertical-align: middle;
}

/* align bottom */
.ab
{
    vertical-align: bottom;
}


/* link */
.l
{
    cursor: pointer;
    cursor: hand;
}
.disabled
{
    cursor: text;
}

.cy
{
    background-color: Yellow;
    color: Black;
}

/* color-white */
.cw
{
    color: #000000;
}

.cw:hover
{
    color: #000000;
}

.cw:visited
{
    color: #000000;
}
/* color-blue */
.cb
{
    color: #0000cc;
}

.cb:hover
{
    color: #0000cc;
}

.cb:visited
{
    color: #0000cc;
}

/* color-red */
.cr
{
    color: #ff0000;
}
.cr:hover
{
    color: #ff0000;
}
.cr:visited
{
    color: #ff0000;
}

/* color-green */
.cg
{
    color: #00ff00;
}

/* color-gray*/
.cgy
{
    color: #989898;
}

/* color-black */
.cbk
{
    color: #000000;
}

/* 
 * color-navigation 
 * color-default:  #6679b##3
 * color-sys:      #9631##2B
 * color-admin:    #508D8##D
 */
.cn
{
    color: #06056B;
}

/* color-sub-navigation */
.csn
{
    color: #e6ffbf;
}

/* color-header */
.ch
{
    color: #536291;
}

/* color-action-log */
.cal
{
    color: #4a5782;
}

/* color-request-history-bar*/
.crhb
{
    /*color: #;*/
}

/* background-white */
.bw
{
    background: #ffffff;
}

/* background-blue */
.bb
{
    background: #0000cc;
}

/* background exception */
.bex
{
    /*background: #;*/
}

/* background-old */
.bo
{
    background: #f8faff;
}

/* background-navigation search button inside body header..color*/
.bn
{
    
	background-repeat: no-repeat;
    background: #BDCEE6;
	
}

/* Border of background header */
.bbn
{
    border: 1px none #06056B;
}

/* background-sub-navigation */
.bsn
{
    background: #e6ffbf;
}

/* background-bodymid area background*/
.bh
{
    background: #FEFEFC ;
}

/* background-header-section mid section */
.bhs
{
    background: #E6F4FD;
}

.bgwhite
{
  background: #FFFFFF;
}
/*search result header backgroung*/
.headersearch{
	background: #E0AAAD;
}

/* background-header-border */
.bhb
{
    background: #ffffff;
}

/* background-details-new */
.bdn
{
    /*background: #;*/
}

/* background-details-read */
.bdr
{
    background: #ffffff;
}

/* background-details-first */
.bdf
{
    background: #06056B;
}

/* background-options-section */
.bos
{
    background: #bdcce5;
}

/* margin */
.m
{
    margin: 0.5ex 1ex 0.5ex 1ex;
}

/*  header */
.h
{
    margin: 0.5ex 1ex 0.5ex 1ex;
    border: 0.1ex solid #bdcce5;
}
/*border line mid area*/
.hb
{
    border: 0.2ex solid #82A9E0;
}



/* header-section */
.hs
{
    border-top: 0.1ex solid #bdcce5;
}

/* header-section-padding */
.hsp
{
    padding: 0.5ex;
}

/* header-section-border-bottom */
.hsbb
{
    border-bottom: 0.1ex solid #bdcce5;
}

/* details-margin */
.dm
{
    margin: 0.5ex 1ex 0.5ex 1ex;
}

/* action-details-margin */
.adm
{
    margin: 0ex 1ex 0ex 1ex;
}

/* details vertical margin */
.dvm
{
    margin: 1.5ex 1ex 2ex 1ex;
}


/* details-content-margin */
.dcm
{
    margin: 1.5ex 1ex 1ex 1ex;
}

/* details-padding */
.dp
{
    padding: 0.5ex 1ex 0.5ex 0.5ex;
}

/* details-new-border */
.dnb
{
    border-left: 0.6ex solid #b38f00;
    border-top: 0.1ex solid #b38f00;
    border-right: 0.1ex solid #b38f00;
    border-bottom: 0.1ex solid #b38f00;
}

/* details-read-border */
.drb
{
    border-left: 0.6ex solid #D9D9D9;
    border-top: 0.1ex solid #D9D9D9;
    border-right: 0.1ex solid #D9D9D9;
    border-bottom: 0.1ex solid #D9D9D9;
}

/* details-first-border */
.dfb
{
    border-left: 0.6ex solid #A4D4F3;
    border-top: 0.1ex solid #A4D4F3;
    border-right: 0.1ex solid #A4D4F3;
    border-bottom: 0.1ex solid #A4D4F3;
}

/* exception border */
.exb
{
    border: 0.1ex solid #ff0000;
}

/* add-request-header-margin */
.arhm
{
    margin: 1ex;
}

/* letter-spacing-btn */

.lsb
{
    letter-spacing: .3ex;
}

/* search tab */
.sts
{
     /* background-color: #E6F4FD;*/
    /*background-image: url(/web/images/greenbgsel.gif) repeat-x center top;*/
/*background-image: url(/web/images/tbits_header.gif);*/
/*    background-repeat: no-repeat;*/
/*    background-position: right top;*/
   border-bottom: #ffffff 0px solid;
/*     border-top: solid 1px #06056B;
    border-right: solid 1px #06056B;
    border-left: solid 1px #06056B;*/

}


.sts li {
	display: inline;
	background: url(../web/images/greenbgsel.gif) repeat-x center top;
	text-align: center;
	padding: 0;
	margin-right: 0px;	
	float: left;
}
.sts a {
	color: #663300;
	background: url(../web/images/greenleftsel.gif) no-repeat left top;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
.sts a span {
	background: url(../web/images/greenrightsel.gif) no-repeat right top;
	display: block;
	padding:7px 13px 4px 5px;
}
.sts a span {
	float: none;
}

.stsep
{
    border-bottom: #808080 1px solid;
}
/* The navigation bar */
#navigation-bar {
text-align: center;
float: left; /*Set to "left" or "right" to position menu accordingly*/
/*border-bottom: 1px solid #000000; /*uncomment this line to add bottom border*/

}
#navigation-bar ul {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 4px 5px 5px 1px;
	padding: 0;
	list-style:none;	
}
.stus
{
    /*margin: 0;*/
    /* background-color: #BDCEE6;
   border-bottom: #06056B 1px solid;
    border-top: solid 1px #06056B;
    border-right: solid 1px #06056B;
    border-left: solid 1px #06056B;*/
}

/* Required to make round tabs */
.stus li {
	display: inline;
	background: url(/web/images/greenbg.gif) repeat-x center top;
	text-align: center;
	padding: 0;
	margin-right: 0px;	
	float: left;
}
.stus a {
	color: #663300;
	background: url(/web/images/greenleft.gif) no-repeat left top;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
.stus a span {
	background: url(/web/images/greenright.gif) no-repeat right top;
	display: block;
	padding:7px 13px 4px 5px;
}
.stus a span {
	float: none;
}

.srp
{
    padding: .5ex;
    padding-top: 0ex;
}

.srb
{
    border: 0.5ex solid #bdcce5;
}

.nw
{
    white-space: nowrap;
}

.blackarrow {
	background-image: url(/web/images/down.gif) repeat right top;
	display: block;
	padding:7px 13px 4px 5px;
	
}
/* 
 * Style for the group-action check box.
 */
.grp-chbox
{
}

.help
{
    cursor: help;
    color: green;
    border-bottom: 1px dotted green;
}

/* Search results css prepared by vineet */

/*
 * Style for the attachment summary table.
 */
TABLE.att
{
    font: 8pt verdana;
    color: black;
    padding: 0px;
    border-collapse: collapse;
    border-left: solid 1px #888888;
    border-bottom: solid 1px #888888;
}

TABLE.att TD
{
    border: solid 1px #888888;
    border-bottom: none;
    border-left: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}

/*Style definitions for the Search Results display.*/
TABLE.results
{
    font: 8pt verdana;
    color: black;
    padding: 0px;
    border-collapse: collapse;
    border-left: solid 1px #D6D6D6;
    border-bottom: solid 1px #D6D6D6;
}
TABLE.results IMG
{
    border: 0px;
    vertical-align: top;
}
TABLE.results TH
{
    font-weight: bold;
    background-color: #E6F4FD;
    border-bottom: solid 1px #60606;
    color: black;
    border-right: none;
    height: 20px;
    padding: 2px;
    text-align: left;
    border-collapse: separate;
    white-space: nowrap;
}


TABLE.results TH A
{
    color: black;
    text-decoration: none;
}

TABLE.results TH A:Visited
{
    color: black;
    text-decoration: none;
}

TABLE.results TD A
{
    color: blue;
    text-decoration: none;
}

TABLE.results TD A:Visited
{
    color: #90A3AF;
    text-decoration: none;
}

TABLE.results TH A:Hover
{
    color: black;
    text-decoration: none;
}

TABLE.results TD A:Hover
{
    color:  #000000;
    text-decoration: none;
}

TABLE.results TR.hide TD
{
    border-right: none;
    border-top: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}
TABLE.results TR.hide TD.ri
{
    border-right: none;
    border-top: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}
TABLE.results TR.show TD
{
    border: solid 1px #D6D6D6;
    border-bottom: none;
    border-left: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TR.show TD.ri
{
    border: solid 1px #D6D6D6;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TD
{
    border: solid 1px #D6D6D6;
    border-bottom: none;
    border-left: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TD.ri
{
    border: solid 1px #D6D6D6;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TD.ff
{
    border: solid 1px #D6D6D6;
    border-bottom: none;
    border-left: none;
    height: 18px;
    padding: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
    font-size: 9pt;
    font-family: Courier New;
}

TABLE.results TR.header
{   /*background color of header search result*/
    background-color: #BDCEE6;
    color: white;
}

TABLE.results TR.header TD
{
    white-space: nowrap;
    border-bottom: none;
    border-left: none;
    height: 18px;
    padding: 2px;
    vertical-align: top;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TR.header TD.ri
{
    white-space: nowrap;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 18px;
    padding: 2px;
    vertical-align: top;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.results TR.unmatched
{
    color: Gray;
}

TABLE.results TR.unmatched TD A
{
    color: Gray;
}

TABLE.results TR.unmatched TD A.ursubject
{
    color: Gray;
}

TABLE.results TR.unmatched TD A.ursubject:Visited
{
    color: Gray;
}

TABLE.results TR.unmatched TD A.ursubject:Hover
{
    color: blue;
}

/*
 * Styles for a tree request row.
 */
TABLE.results TR.tree
{
    background-color: #E8E8D0;
}

TABLE.results TR.tree TD A
{
    color: black;
}

TABLE.results TR.tree TD A.ursubject
{
    color: black;
}

TABLE.results TR.tree TD A.ursubject:Visited
{
    color: black;
}

TABLE.results TR.tree TD A.ursubject:Hover
{
    color: blue;
}
/**** End ******/

TABLE.results TR TD A.mrsubject
{
    color: black;
}

TABLE.results TR TD A.mrsubject:Visited
{
    color: black;
}

TABLE.results TR TD A.mrsubject:Hover
{
    color: blue;
}

TABLE.results THEAD TD
{
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    background-color: #ffffff;
    color: White;
    font-family: Tahoma;
    font-weight: bold;
}

TABLE.mrheader
{  /* search result header changes*/
    border: outset 0px #FFFFFF;
    border-bottom: none;
    border-right: none;
    font: bold 8pt verdana;
    color: #333366;
    background-color: #E6F4FD;
}

TABLE.mrheader TD
{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 18px;
    padding: 2px;
    vertical-align: top;
    font-size: 8pt;
    font-family: verdana;
}

TABLE.mrheader TD A
{
    color: Black;
    font: normal 8pt verdana;
}

TABLE.mrheader TD A:Visited
{
    color: Black;
    font: normal 8pt verdana;
}

TABLE.mrheader TD A:Hover
{
    color: red;
    font: normal 8pt verdana;
}

OPTION.list-item-default
{
    font: italic 10pt "trebuchet MS";
    color: gray;
}


/* new */
.new
{
    background-color: #EFF6FC;
}

.red
{
    color: red;
}
TABLE.results TD.overdue
{
    background-image: url(/web/images/alarm.gif);
    background-repeat: no-repeat;
    background-position: right top;
}

TABLE.results TD.exception
{
    color: Red;
}

TABLE.results INPUT.ch-bx
{
    margin: -4px 0px 0px 0px;
}


/*end of status and new requests/actions tracking*/

TABLE.results-nav
{
    font: normal 8pt verdana;
    background-color: #DCDEBD;
    border-top: outset 2px #FFFFFF;
    padding: 2px;
}
TABLE.results-nav SELECT
{
    font: normal 8pt verdana;
    vertical-align: middle;
    white-space: nowrap;
}
TABLE.results-nav INPUT
{
    font: normal 8pt verdana;
    vertical-align: middle;
    white-space: nowrap;
}
TABLE.results-nav TD
{
    padding: 3px 0px 3px 0px;
}
TABLE.results-nav SPAN.results-count
{
    font-weight: bold;
    color: #333366;
    padding: 0px 10px 0px 10px;
}

/* TBits-auto-complete */

#auto_hm
{
    position: absolute;
    z-index: 3;
    border: 1px #000 outset;
    background: #dfffdf;
    padding: 2;
}

.auto span
{
    font-family: arial;
    text-decoration: none;
    color: #001000;
    display: block;
    cursor: default;
    padding: 0 10 0 10;
    font-size: 80%;
    white-space: nowrap;
}

.auto span.sel
{
    font-family: arial;
    background: #80ff80;
}

BODY.dialog
{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    padding-top: 15px;
}


.move-to-btn
{
    background: url(/web/images/next.gif) buttonface no-repeat center 50%;
}
.remove-btn
{
    background: url(/web/images/previous.gif) buttonface no-repeat center 50%;
}
.move-up-btn
{
    background: url(/web/images/up.gif) buttonface no-repeat center 50%;
}
.move-down-btn
{
    background: url(/web/images/down.gif) buttonface no-repeat center 50%;
}

/*
 * style for result comment.
 */
.rs
{
    font: bold 8pt verdana;
    color: #333366;
}

.rcomment
{
    font: bold 8pt verdana;
    color: #333366;
}

/*
 * Style for selected rows during group action.
 */
.selRow
{
    background-color: #eeeeee;
}


TABLE.ea
{
    border-top: solid 1px black;
    border-left: solid 1px black;
}

TABLE.ea TH
{
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    font-weight: normal;
    padding: 2px 2px 2px 2px;
}

TABLE.ea TD
{
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 2px 2px 2px 2px;
}

/**
 * Styles used by auto-complete.
 */
.floater
{
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: none;
    padding: 0;
}

.floater td
{
    font-family: arial;
    font-size: medium;
    background-color: #f8faff;
    border: 1px inset #979797;
    color: black;
}

.matchedSmartInputItem
{
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-left: 7px;
    margin: 0;
    cursor: pointer;
    cursor: hand;
}

/* background-color needs to be changed to 
reflect BA's default color scheme */
.selectedSmartInputItem
{
    color: white;
    background-color: #A4D4F3;
}

#smartInputResults
{
    padding: 0;
    margin: 0;
}

.siwCredit
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 0.7em;
    color: black;
}

/*
 * Styles needed for IFrame used during searching.
 */
.itbl
{
    display: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.itop
{
    width: 100%;
    filter: alpha(style=0, opacity=0);
    height: 400px;
    opacity: 0; -moz-opacity:0;
}
.ibot
{
    width: 100%;
    border: 0;
}

/*
 * Style for the user-shortcuts table.
 */
TABLE.shortcuts
{
    font-family: tahoma;
    font-size: 10pt;
    background-color: #ffffff;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

TABLE.shortcuts THEAD TD
{
    background-color: #A4D4F3;
    border: 1px solid lightgrey;
    border-top: none;
    border-left: none;
    font-weight: bold;
    color: white;
    text-align: left;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

TABLE.shortcuts THEAD TD.title
{
    background-color: #A4D4F3;
    border: 1px solid lightgrey;
    border-top: none;
    border-left: none;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

TABLE.shortcuts TBODY TD
{
    border: 1px solid lightgrey;
    border-top: none;
    border-left: none;
    padding-left: 5px;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand;
    padding: 0px 5px 0px 5px;
}

TABLE.shortcuts TBODY TD.title
{
    color: blue;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

TABLE.shortcuts TBODY TD.ncol
{
    white-space: nowrap;
    cursor: default;
    padding: 0px 5px 0px 5px;
}

TABLE.shortcuts THEAD TD A:Visited
{
    color: Black;
}

TABLE.shortcuts TBODY TD A:Visited
{
    color: Black;
}

/* TBits DOM Tooltip Style */


/* Default DOM Tooltip Style */
div.domTT
{   /*draft tool tip header */
    border: 1px solid #333333;
    background-color: #A4D4F3;
    color: black;
}
div.domTTCaption
{
    font-family: tahoma;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
}
div.domTTContent
{
    font-size: 12px;
    font-family: tahoma;
    padding: 3px 2px;
    background-color: #e6ecff;
}
/* Classic Style */
div.domTTClassic
{
    border: 1px solid black;
    background-color: #FBF4D4;
}
div.domTTClassicCaption
{
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 1px 2px;
}
div.domTTClassicContent
{
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 1px 2px 0 2px;
}
/* Win9x Style */
div.domTTWin
{
    border: 2px outset #06056B;
    background-color: #808080;
}
div.domTTWinCaption
{
    border: 0px solid #06056B;
    border-width: 1px 1px 0px 1px;
    background-color: #00007F;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
div.domTTWinContent
{
    border: 1px solid #06056B;
}
/* Overlib Style */
div.domTTOverlib
{
    border: 1px solid #333366;
    background-color: #333366;
}
div.domTTOverlibCaption
{
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
}
div.domTTOverlibContent
{
    font-size: 10px;
    font-family: Verdana, Helvetica;
    padding: 2px;
    background-color: #F1F1FF;
}
div.domTTMenu
{
    width: 150px;
    border: 2px outset #E6E6E6;
}
div.domTTMenuCaption
{
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E6E6E6;
}
div.domTTMenuContent
{
    padding: 1px 0;
    background-color: #E6E6E6;
}

/* The main calendar widget.  DIV containing a table. */

div.calendar
{
    position: relative;
}

.calendar, .calendar table
{
    border: 1px solid #556;
    font-size: 11px;
    color: #000;
    cursor: default;
    background: #eef;
    font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button
{
    /* "<<", "<", ">", ">>" buttons have this class */
    text-align: center; /* They are the navigation buttons */
    padding: 2px; /* Make the buttons seem like they're pressing */
}

.calendar .nav
{
    background: #778 url(/web/css/menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title
{
    /* This holds the current "month, year" */
    font-weight: bold; /* Pressing it will take you to the current date */
    text-align: center;
    background: #fff;
    color: #000;
    padding: 2px;
}

.calendar thead .headrow
{
    /* Row <TR> containing navigation buttons */
    background: #778;
    color: #fff;
}

.calendar thead .daynames
{
    /* Row <TR> containing the day names */
    background: #bdf;
}

.calendar thead .name
{
    /* Cells <TD> containing the day names */
    border-bottom: 1px solid #556;
    padding: 2px;
    text-align: center;
    color: #000;
}

.calendar thead .weekend
{
    /* How a weekend day name shows in header */
    color: #a66;
}

.calendar thead .hilite
{
    /* How do the buttons in header appear when hover */
    background-color: #aaf;
    color: #000;
    border: 1px solid #04f;
    padding: 1px;
}

.calendar thead .active
{
    /* Active (pressed) buttons in header */
    background-color: #77c;
    padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day
{
    /* Cells <TD> containing month days dates */
    width: 2em;
    color: #456;
    text-align: right;
    padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth
{
    font-size: 80%;
    color: #bbb;
}
.calendar tbody .day.othermonth.oweekend
{
    color: #fbb;
}

.calendar table .wn
{
    padding: 2px 3px 2px 2px;
    border-right: 1px solid #000;
    background: #bdf;
}

.calendar tbody .rowhilite td
{
    background: #def;
}

.calendar tbody .rowhilite td.wn
{
    background: #eef;
}

.calendar tbody td.hilite
{
    /* Hovered cells <TD> */
    background: #def;
    padding: 1px 3px 1px 1px;
    border: 1px solid #bbb;
}

.calendar tbody td.active
{
    /* Active (pressed) cells <TD> */
    background: #cde;
    padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected
{
    /* Cell showing today date */
    font-weight: bold;
    border: 1px solid #000;
    padding: 1px 3px 1px 1px;
    background: #fff;
    color: #000;
}

.calendar tbody td.weekend
{
    /* Cells showing weekend days */
    color: #a66;
}

.calendar tbody td.today
{
    /* Cell showing selected date */
    font-weight: bold;
    color: #00f;
}

.calendar tbody .disabled
{
    color: #999;
}

.calendar tbody .emptycell
{
    /* Empty cells (the best is to hide them) */
    visibility: hidden;
}

.calendar tbody .emptyrow
{
    /* Empty row (some months need less than 6 rows) */
    display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow
{
    /* The <TR> in footer (only one right now) */
    text-align: center;
    background: #556;
    color: #fff;
}

.calendar tfoot .ttip
{
    /* Tooltip (status bar) cell <TD> */
    background: #fff;
    color: #445;
    border-top: 1px solid #556;
    padding: 1px;
}

.calendar tfoot .hilite
{
    /* Hover style for buttons in footer */
    background: #aaf;
    border: 1px solid #04f;
    color: #000;
    padding: 1px;
}

.calendar tfoot .active
{
    /* Active (pressed) style for buttons in footer */
    background: #77c;
    padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo
{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 4em;
    cursor: default;
    border: 1px solid #655;
    background: #def;
    color: #000;
    font-size: 90%;
    z-index: 100;
}

.calendar .combo .label, .calendar .combo .label-IEfix
{
    text-align: center;
    padding: 1px;
}

.calendar .combo .label-IEfix
{
    width: 4em;
}

.calendar .combo .hilite
{
    background: #acf;
}

.calendar .combo .active
{
    border-top: 1px solid #46a;
    border-bottom: 1px solid #46a;
    background: #eef;
    font-weight: bold;
}

.calendar td.time
{
    border-top: 1px solid #000;
    padding: 1px 0px;
    text-align: center;
    background-color: #f4f0e8;
}
.tab-icon
{
	margin: 5px;
}

.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm
{
    padding: 0px 3px 0px 4px;
    border: 1px solid #889;
    font-weight: bold;
    background-color: #fff;
}

.calendar td.time .ampm
{
    text-align: center;
}

.calendar td.time .colon
{
    padding: 0px 2px 0px 3px;
    font-weight: bold;
}

.calendar td.time span.hilite
{
    border-color: #000;
    background-color: #667;
    color: #fff;
}
.mht
{
    font-weight: bold;
	color: #000000;
}
.fbb
{ font-weight:bold;
color:#000000;
}
.head1{ 
	background-image: url(/web/images/header-first.gif)   ;
    background-repeat: no-repeat;
}
.head2{ 
	background-image: url(/web/images/header-sec.gif)   ;
   	background-repeat: repeat;
}
.resulthead{
	background-image: url(../web/images/resultshdbkg.gif)   ;
   	background-repeat: repeat;

}
.hp
{
   background-image: url(../web/images/tbits_header.gif)   ;
   background-repeat: no-repeat;
}

.calendar td.time span.active
{
    border-color: #f00;
    background-color: #000;
    color: #0f0;
}
.header {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: #d00000}
.wa10bold { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none ; font-weight: bold}
.wa10 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.H3Fakeblack {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000
}
.H3Fakered45 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #c41130
}
.wa10grey { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold}
