/* TBits DOM Tooltip Style */
div.domTTTBits
{
    border: 1px solid #333333;
    font-family: Tahoma;
    font-size: 10pt;
    color: Black;
}
div.domTTTBitsCaption
{
    background: #bdcce5;
    font-family: verdana;
    font-size: 8pt;
    font-weight: bold;
    padding: 1ex;
}
div.domTTTBitsContent
{
    font-size: 9pt;
    font-family: courier new;
    background-color: #FFFFFF;
    white-space: nowrap;
}

/* Default DOM Tooltip Style */
div.domTT
{
    border: 1px solid #333333;
    background-color: #6679b3;
    color: White;
}
div.domTTCaption
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
}
div.domTTContent
{
    font-size: 12px;
    font-family: tahoma;
    padding: 3px 2px;
    background-color: #e6ecff;
}
/* Classic Style */
div.domTTClassic
{
    border: 1px solid black;
    background-color: #FBF4D4;
}
div.domTTClassicCaption
{
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 1px 2px;
}
div.domTTClassicContent
{
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 1px 2px 0 2px;
}
/* Win9x Style */
div.domTTWin
{
    border: 2px outset #BFBFBF;
    background-color: #808080;
}
div.domTTWinCaption
{
    border: 0px solid #BFBFBF;
    border-width: 1px 1px 0px 1px;
    background-color: #00007F;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
div.domTTWinContent
{
    border: 1px solid #BFBFBF;
}
/* Overlib Style */
div.domTTOverlib
{
    border: 1px solid #333366;
    background-color: #333366;
}
div.domTTOverlibCaption
{
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
}
div.domTTOverlibContent
{
    font-size: 10px;
    font-family: Verdana, Helvetica;
    padding: 2px;
    background-color: #F1F1FF;
}
div.domTTMenu
{
    width: 150px;
    border: 2px outset #E6E6E6;
}
div.domTTMenuCaption
{
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E6E6E6;
}
div.domTTMenuContent
{
    padding: 1px 0;
    background-color: #E6E6E6;
}
