<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xpress03form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Xpress03form.Properties.Settings>
            <setting name="tempFile" serializeAs="String">
                <value>temp.xml</value>
            </setting>
            <setting name="localXml" serializeAs="String">
                <value>BAXMLInfo.xml</value>
            </setting>
            <setting name="serverConnectionCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="connectToServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="servletName" serializeAs="String">
                <value>outlookconfig</value>
            </setting>
            <setting name="dueDateCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkDueDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loginRegex" serializeAs="String">
                <value>.+=([^=]+)$</value>
            </setting>
            <setting name="tBtisUrl" serializeAs="String">
                <value>http://ibm</value>
            </setting>
            <setting name="log4netConfig" serializeAs="String">
                <value>tBitsLogger.config</value>
            </setting>
        </Xpress03form.Properties.Settings>
    </userSettings>
</configuration>