<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"-->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title>  	
 </head> 

 <body>	
	<div>
		<br/><br/><br/><br/>	
	</div>
	<div>
		<div id ="transmit">				  
			<p style="font-weight:bold;text-align:center"> DRAWINGS/DOCUMENTS TRANSMITTAL NOTE</p>
			<div id="tContent" >
				<table width = "100%">
					<tr>
						<td align="left">Ref: <%=ref%></td>
						<td style="text-align:right"><%=displayDate%></td>	
					</tr>
				</table>						
				<div style="font-weight:bold;">
					<br/>M.N. Dastur &amp; Company (P) Ltd.,
					<br/>P-17 Mission Row Extn,
					<br/>Kolkata-700013  
				</div> 
				<div>
					<p><span style= "font-weight:bold">Kind Attn: </span><span>Mr. Sankar Datta / Mr. Sanjib Mukhopadhyay.</span></p>
					<p><span style= "font-weight:bold">Sub : </span><span>WATER SYSTEM FACILITIES-SMS-2</span></p>
					<p><span style= "font-weight:bold">Ref : </span><span>LOA No. VSP/CONT./EXPN./330/2007-08/1436 &amp;1437 dated 10/03/2008</span></p>		        		
					<p>Enclosed please find the following Data Sheets (DS)/Drawings/Documents as listed below for your action.</p>
				</div>
			</div>					   	  
			<div class="selected">
				<!--table id="outer" style="border:solid 1px #000000; width:100%; border-collapse: collapse; width:95%" align="center">	 
					<tr><td--> 				  
						<div class="tableWrapper">
							<table id="finalTable" style="border-collapse:collapse; border: solid 1px #000000; width:100%">
								<tr align="center" style = "font-weight: bold"> 		       
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">SL. No.</td> 
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">Document Name</td>
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">Rev. No.</td>
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">Description</td>
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">Action for</td>	
									<td class="mht l" style="text-align:center; height: 21px; border-collapse:collapse; border: solid 1px #000000">No. of copies</td>
								</tr>
								<%=requestTable%>
								<tr><td colspan = "6"  style="border-collapse:collapse; border: solid 1px #000000">
									<u>Action codes:</u><br />
									 A: Submitted for Approval<br />
									 B: Submitted for Final Approval<br />
									 C: For information only<br />
								</td></tr>
							</table>
						</div>					
					<!--/td></tr>
				</table-->
				<div>
					<table width="100%" >
						<tr><td align="right">
								<p>
								<span style= "font-weight:bold">Yours faithfully,</span><br />
								<span style= "font-weight:bold">For</span><span> TATA PROJECTS LIMITED</span><br />	
								</p><br/>							
								Uttam Khan,
								<br />
								PROJECT CO-ORDINATOR.								
						</td></tr>
					</table>
				</div>
				<div>
					<span>Cc: Mr.R.V.Raghavulu (3 COPIES)</span><br />
					Dy. General Manager,
					Design &amp; Engineering <br />
					Administrative Building	<br />	
					1st floor, Room No. 296, <br />
					Block-D, <br />
					Vishakapatnam Steel Plant, <br />
					Vishakapatnam.
				</div>														
			</div>    	   							 			
		</div> 			  
	</div>		    	       		    	    		   
</body>
</html>
