<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Qutbits.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Qutbits.TBitsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Qutbits.Properties.Settings>
            <setting name="outlookConfigUrl" serializeAs="String">
                <value>http://localhost/outlookconfig</value>
            </setting>
            <setting name="outlookDefXmlPath" serializeAs="String">
                <value>C:\Program Files\transbit technologies\tBitsPlugin\BAXMLInfo.xml</value>
            </setting>
        </Qutbits.Properties.Settings>
        <Qutbits.TBitsSettings>
            <setting name="TBitsConfigPath" serializeAs="String">
                <value>/outlookconfig</value>
            </setting>
        </Qutbits.TBitsSettings>
    </userSettings>
</configuration>